In [41]:
import sqlite3
import pandas as pd
from datetime import date, timedelta, datetime as dt

## 00_Connect_to_DB
Read the file and print out a list of all table names in the databse. Pandas supports sqlite3 access if you want to avoid installing SQLAlchemy.

In [10]:
filename = "BabyDaybook_20220510_auto.db"

with sqlite3.connect(filename) as dbcon:
    tables = list(
        pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", dbcon)['name']
    )
    print(tables)

['babies', 'da_types', 'daily_actions', 'groups', 'growth', 'moments', 'daily_notes', 'reminders']

So there're 8 tables in the database. Next I want to go through all tables and findout which ones are useful for analysis later.

## 01_Read_Table
Read all tables into a dict:

In [24]:
baby_db = {}
for tablename in tables:
    print(tablename)
    baby_db[tablename] = pd.read_sql_query(
        f"SELECT * from {tablename}", 
        sqlite3.connect(filename))

babies
da_types
daily_actions
groups
growth
moments
daily_notes
reminders

### Table 1: babies
- 1 row per baby
- Probably not very useful since we don't have multiple baby in this db

In [27]:
baby_db["babies"]

,uid,svt,updated_millis,user_uid,name,gender,birthday,is_premature,expected_birthday,ui_color,da_types_config,photo_base64,convert_units
0,awyedysipgrgccchAIIDLBADYW530823,1647548813049,1647548812867,j6A0wwOuFaN7aA8u0YP7LXanESu2,Neo,boy,1645592400000,0,1646464863337,,"diaper_change,bottle,pump,other,tummy_time,bat...",,1

### Table 2: da_types
- 20 rows that represent all types of events of the log
- `uid` is the identifier
- Might not be super useful either

In [28]:
baby_db["da_types"]

,uid,svt,updated_millis,user_uid,baby_uid,title,color,icon,category,has_duration,has_reaction,has_amount
0,breastfeeding,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#E23F7B,bra,feeding,1,0,0
1,bottle,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#24A7E7,bottle,feeding,0,0,0
2,diaper_change,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#58C2AB,nappy,,0,0,0
3,sleeping,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#81B239,crib,,1,0,0
4,food,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#F69601,bib,feeding,0,1,1
5,pump,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#7355B5,pump,,0,0,0
6,drink,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#00BCD4,sippy_cup,,0,0,0
7,bath,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#3378C7,bath_bubbles,,0,1,0
8,potty,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#A61057,potty,,0,0,0
9,toothbrushing,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#AFB42B,toothbrush,,0,0,0
10,medicine,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#F44336,pill,health,0,0,1
11,temperature,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#B71C1C,thermometer,health,0,0,0
12,doctor_visit,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#E57373,stethoscope,health,0,1,0
13,vaccination,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#BA68C8,syringe,health,0,0,0
14,symptom,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#FF7043,symptom,health,0,0,0
15,crying,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#00796B,face_crying,,1,0,0
16,tummy_time,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#F8BF01,tummy_time,,1,1,0
17,walking_outside,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#749E9C,stroller,,1,0,0
18,playtime,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#AE8601,playground,,1,0,0
19,other,1646464872278,1646464871709,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,,#765547,pen_ink,,0,1,1

### Table 3: daily_actions
- 1697 rows × 24 columns
- This table contains the daily actions for the baby. This would be the main table for analysis.

In [29]:
baby_db["daily_actions"]

,uid,svt,updated_millis,user_uid,baby_uid,type,start_millis,notes,group_uid,end_millis,...,in_progress,side,pee,poo,hair_wash,temperature,volume,amount,amount_unit,reaction
0,pdsygtpsdebyJNPM4055640711671703,1646465125589,1646465125449,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,pump,1646462400000,,,0,...,0,both,0,0,0,0.0,140.0,0.0,,
1,sktDVPXHLL3407486781730314360355,1646465170222,1646465170163,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,potty,1646460000000,,,0,...,0,,1,0,0,0.0,0.0,0.0,,
2,yhyjpfvqvpbECRETWALDBNJQ71647781,1646465253729,1646465253674,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,bottle,1646463600000,30 min feed,,0,...,0,,0,0,0,0.0,125.0,0.0,,
3,abrkjfufeqrechfvpbrtdujfrxMQBIG0,1646477451513,1646477451438,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,pump,1646476500000,,,0,...,0,both,0,0,0,0.0,150.0,0.0,,
4,snusjmothsoqmsgfWKQ4380067100777,1646475972459,1646475972362,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,potty,1646475600000,,,0,...,0,,1,1,0,0.0,0.0,0.0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1692,IWGBOQG6674026462402601304766054,1652181816554,1652181815337,KiohJy98DXTvEfe0E7T6tHzhoAA3,awyedysipgrgccchAIIDLBADYW530823,tummy_time,1652181014561,,,1652181815337,...,0,,0,0,0,0.0,0.0,0.0,,
1693,ebqpofoGXWUODUYYPXHCNXNWOQVXW401,1652182022365,1652182003896,KiohJy98DXTvEfe0E7T6tHzhoAA3,awyedysipgrgccchAIIDLBADYW530823,diaper_change,1652182003043,,,0,...,0,,1,0,0,0.0,0.0,0.0,,
1694,ahjnefqXRLAPJXNR0010621555444074,1652182081620,1652182080448,KiohJy98DXTvEfe0E7T6tHzhoAA3,awyedysipgrgccchAIIDLBADYW530823,bottle,1652182078224,,,0,...,0,,0,0,0,0.0,160.0,0.0,,
1695,whxwmovdjiR856684865254031543011,1652184012073,1652184011836,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,pump,1652182129918,,,0,...,0,both,0,0,0,0.0,380.0,0.0,,
1696,wfjfllCJEYG837050826546010874778,1652184069362,1652184069223,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,pump,1652108400000,,,0,...,0,both,0,0,0,0.0,400.0,0.0,,

## 02_Read_Columns
Next, filter out the key columns:

In [32]:
daily_actions_df = baby_db["daily_actions"]
daily_actions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   uid             1697 non-null   object
 1   svt             1697 non-null   int64
 2   updated_millis  1697 non-null   int64
 3   user_uid        1697 non-null   object
 4   baby_uid        1697 non-null   object
 5   type            1697 non-null   object
 6   start_millis    1697 non-null   int64
 7   notes           1697 non-null   object
 8   group_uid       1697 non-null   object
 9   end_millis      1697 non-null   int64
 10  pause_millis    1697 non-null   int64
 11  duration        1697 non-null   int64
 12  left_duration   1697 non-null   int64
 13  right_duration  1697 non-null   int64
 14  in_progress     1697 non-null   int64
 15  side            1697 non-null   object
 16  pee             1697 non-null   int64
 17  poo             1697 non-null   int64
 18  hair_wash       1697 non-null   int64
 19  temperature     1697 non-null   float64
 20  volume          1697 non-null   float64
 21  amount          1697 non-null   float64
 22  amount_unit     1697 non-null   object
 23  reaction        1697 non-null   object
dtypes: float64(3), int64(12), object(9)
memory usage: 318.3+ KB

In [38]:
daily_actions_df.head(10)

,uid,svt,updated_millis,user_uid,baby_uid,type,start_millis,notes,group_uid,end_millis,...,in_progress,side,pee,poo,hair_wash,temperature,volume,amount,amount_unit,reaction
0,pdsygtpsdebyJNPM4055640711671703,1646465125589,1646465125449,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,pump,1646462400000,,,0,...,0,both,0,0,0,0.0,140.0,0.0,,
1,sktDVPXHLL3407486781730314360355,1646465170222,1646465170163,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,potty,1646460000000,,,0,...,0,,1,0,0,0.0,0.0,0.0,,
2,yhyjpfvqvpbECRETWALDBNJQ71647781,1646465253729,1646465253674,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,bottle,1646463600000,30 min feed,,0,...,0,,0,0,0,0.0,125.0,0.0,,
3,abrkjfufeqrechfvpbrtdujfrxMQBIG0,1646477451513,1646477451438,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,pump,1646476500000,,,0,...,0,both,0,0,0,0.0,150.0,0.0,,
4,snusjmothsoqmsgfWKQ4380067100777,1646475972459,1646475972362,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,potty,1646475600000,,,0,...,0,,1,1,0,0.0,0.0,0.0,,
5,vvyohYWO378180058065885554050640,1646477442503,1646477442426,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,bottle,1646477425230,40 min,,0,...,0,,0,0,0,0.0,120.0,0.0,,
6,xgixuwemofhysgwxuqdpMXEQTAONPM88,1646490063725,1646490063610,j6A0wwOuFaN7aA8u0YP7LXanESu2,awyedysipgrgccchAIIDLBADYW530823,pump,1646487900000,,,0,...,0,both,0,0,0,0.0,110.0,0.0,,
7,hoyjtwbkwbecrcchmfdwR82818560573,1646490679427,1646490678873,KiohJy98DXTvEfe0E7T6tHzhoAA3,awyedysipgrgccchAIIDLBADYW530823,bottle,1646488800000,30 mins duration,,0,...,0,,0,0,0,0.0,120.0,0.0,,
8,cxyxkyrlvyjecxsyulvynDHHADI52174,1646490691588,1646490691080,KiohJy98DXTvEfe0E7T6tHzhoAA3,awyedysipgrgccchAIIDLBADYW530823,diaper_change,1646485260000,,,0,...,0,,1,1,0,0.0,0.0,0.0,,
9,ctpncxbeehxenicOVFYL068678543763,1646490702925,1646490702396,KiohJy98DXTvEfe0E7T6tHzhoAA3,awyedysipgrgccchAIIDLBADYW530823,diaper_change,1646489700000,,,0,...,0,,1,1,0,0.0,0.0,0.0,,

### Key Columns:
- `updated_millis`: time of the update
- `svt`:
- `type`: category of the event (ie: pump, bottle, diaper_change, etc.)
- `start_millis`: start time
- `end_millis`: end time (0 if NA)

Event Specific Columns:
- `pee`: binary, only apply to diaper_change
- `poo`: binary, only apply to diaper_change
- `volume`: only apply to pump and bottle

In [61]:
data = daily_actions_df[[
    "updated_millis",
    "svt",
    "type",
    "start_millis",
    "end_millis",
    "pee",
    "poo",
    "volume", 
]]

data.head()

,updated_millis,svt,type,start_millis,end_millis,pee,poo,volume
0,1646465125449,1646465125589,pump,1646462400000,0,0,0,140.0
1,1646465170163,1646465170222,potty,1646460000000,0,1,0,0.0
2,1646465253674,1646465253729,bottle,1646463600000,0,0,0,125.0
3,1646477451438,1646477451513,pump,1646476500000,0,0,0,150.0
4,1646475972362,1646475972459,potty,1646475600000,0,1,1,0.0

### Reformat_Datetime 
Convert milliseconds to date

In [64]:
data.svt = data.svt.apply(lambda x: dt.fromtimestamp(x/1000.0))
data.start_millis = data.start_millis.apply(lambda x: dt.fromtimestamp(x/1000.0))
data.sort_values(by=["svt"], ascending=False)

,updated_millis,svt,type,start_millis,end_millis,pee,poo,volume
1696,1652184069223,2022-05-10 08:01:09.362,pump,2022-05-09 11:00:00.000,0,0,0,400.0
1695,1652184011836,2022-05-10 08:00:12.073,pump,2022-05-10 07:28:49.918,0,0,0,380.0
1694,1652182080448,2022-05-10 07:28:01.620,bottle,2022-05-10 07:27:58.224,0,0,0,160.0
1693,1652182003896,2022-05-10 07:27:02.365,diaper_change,2022-05-10 07:26:43.043,0,1,0,0.0
1692,1652181815337,2022-05-10 07:23:36.554,tummy_time,2022-05-10 07:10:14.561,1652181815337,0,0,0.0
...,...,...,...,...,...,...,...,...
5,1646477442426,2022-03-05 05:50:42.503,bottle,2022-03-05 05:50:25.230,0,0,0,120.0
4,1646475972362,2022-03-05 05:26:12.459,potty,2022-03-05 05:20:00.000,0,1,1,0.0
2,1646465253674,2022-03-05 02:27:33.729,bottle,2022-03-05 02:00:00.000,0,0,0,125.0
1,1646465170163,2022-03-05 02:26:10.222,potty,2022-03-05 01:00:00.000,0,1,0,0.0
0,1646465125449,2022-03-05 02:25:25.589,pump,2022-03-05 01:40:00.000,0,0,0,140.0

In [69]:
data.svt.min()

Timestamp('2022-03-05 02:25:25.589000')